---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import FirstSection from '../components/FirstSection.astro'
---

<Layout title="Welcome to gymlog">
	<main>
		<Header/>
		<FirstSection/>
	</main>
		
</Layout>

