---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FirstSection from "../components/FirstSection.astro";
import SectionCard from "../components/SectionCard.astro";
---

<Layout title="Welcome to gymlog">
  <main>
    <Header />
    <section class="flex flex-col gap-10 mt-10">
      <FirstSection />
      <SectionCard
        title="Make every set count"
        subtitle="Work smarter, lower your time, unlock the physique of your dreams, and keep track of your progress."
      />
      <section class="flex flex-col md:grid md:grid-cols-2 gap-10">
        <SectionCard
          title="Keep control of your exercises"
          subtitle="Don't lose your progress and keep motivating yourself every week."
          className="bg-[#F3F6F8] rounded-lg p-5 flex items-center md:flex-row flex-col gap-10 md:items-start"
          href="/public/second-section.png"
          imgClassName="max-h-[500px] max-w-[300px]  overflow-hidden"
        />
        <!-- <SectionCard
          title="Keep control of your exercises"
          subtitle="Don't lose your progress and keep motivating yourself every week."
          className="bg-[#EAECFF] rounded-lg p-5 flex flex-col gap-10 md:flex-row  "
          href="../../public/second-section.png"
          imgClassName="max-h-[500px] max-w-[300px]  overflow-hidden"
        /> -->
        <SectionCard
          title="Your own exercises"
          subtitle="Create your own exercises and keep track of your progress. "
          className="bg-[#F3F6F8] rounded-lg p-5 flex flex-col gap-10 md:flex-row md:justify-between "
          href="/public/third-section.png"
          imgClassName="max-h-[500px] max-w-[300px]  overflow-hidden"
        />
      </section>
      <section class="flex flex-col bg-[#F3F6F8] p-10 gap-5 rounded-lg">
        <SectionCard
          title="Comming soon"
          subtitle="We are working on new features to make your experience even better."
        />
        <ol class="text-blue-400">
          <li>- Meal tracking</li>
          <li>- Community</li>
        </ol>
      </section>
    </section>
  </main>
</Layout>
