---
import AppAvailability from "./AppAvailability.astro";
---

<section
  class="flex flex-col md:grid md:grid-cols-2 items-center md:items-start md:justify-start"
>
  <header class="flex flex-col gap-7 items-center">
    <h2 class="font-semibold text-[36px] leading-[44px] md:text-start w-full">
      Start lifting <span class="text-blue-400">smart</span>
    </h2>
    <p class="text-[#667085]">
      Take Control of Your Weights and Reps Anytime, Anywhere with GymLog.
      Discover the Smart to save your logs!
    </p>
    <section class="flex justify-start w-full">
      <AppAvailability
        subtitle="Visit in"
        title="WEB"
        isWeb
        webHref="https://gym-log-pi.vercel.app/"
      />
    </section>
  </header>
  <section class="flex justify-center mt-10 md:mt-0">
    <article
      class="max-h-[300px] max-w-[350px] rounded-md text-white overflow-hidden bg-white"
    >
      <img src="/firs-section.png" alt="mobile-previe" />
    </article>
  </section>
</section>
