---
import AppAvailability from "./AppAvailability.astro";
---

<section>
    <header class="flex flex-col gap-7 pt-10 items-center">
        <h2 class="font-semibold text-[36px] leading-[44px]">
            Start working the smart way
        </h2>
        <p class="text-[#667085]">
            Take Control of Your Weights and Reps Anytime, Anywhere with GymL.
            Discover the Smart to save your logs!
        </p>
        <section class="flex justify-start w-full">
            <AppAvailability subtitle="Visit in" title="WEB" isWeb/>
        </section>
    </header>
    <section class="flex justify-center mt-10">
        <article class="max-h-[300px] max-w-[350px]  rounded-md text-white overflow-hidden bg-white">
            <img src="../../public/firs-section.png" alt="mobile-previe"/>
        </article>
    </section>
</section>
